<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SchoolSync.Properties.Settings>
            <setting name="Data_account" serializeAs="String">
                <value />
            </setting>
        </SchoolSync.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SchoolSync.Properties.Settings>
            <setting name="API_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="API_TOKEN_CHATGPT" serializeAs="String">
                <value />
            </setting>
        </SchoolSync.Properties.Settings>
    </applicationSettings>
</configuration>